<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9b92d7">  <td>19/02/17 10:35:24</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:bl.framework.testcases.TC002_CreateLead@5abca1e0]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@215145189</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>19/02/17 10:35:25</td>   <td>1255</td> <td>&nbsp;</td><td title="&gt;&gt;TC002_CreateLead.setData()[pri:0, instance:bl.framework.testcases.TC002_CreateLead@5abca1e0]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@215145189</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>19/02/17 10:35:25</td>   <td>1316</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:bl.framework.testcases.TC002_CreateLead@5abca1e0]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@215145189</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>19/02/17 10:35:25</td>   <td>1416</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:bl.framework.testcases.TC002_CreateLead@5abca1e0]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@215145189</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>19/02/17 10:36:46</td>   <td>81470</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:bl.framework.testcases.TC002_CreateLead@5abca1e0]">createLead</td> 
  <td>main@215145189</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>19/02/17 10:36:46</td>   <td>81481</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:bl.framework.testcases.TC002_CreateLead@5abca1e0]">createLead</td> 
  <td>main@215145189</td>   <td></td> </tr>
</table>
